/* RESET */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */
.testa, .corpo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #39587e
}
.centratore {
  width: 56%;
  margin: auto;
}
.float-left {
  float: left;
}
.float-rght {
  float: right;
}
.centro {
  text-align: center;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
/* FINE REGOLE GENERALI */

/* HEADER */
/* sezione di accesso */
.testa .backgd-accesso {
  background-color: #f5f8fa;
  border-bottom: solid 1px #cbd6e2;
}
.arrow {
  padding-left: 10px;
}
.testa .accesso > * {
  padding: 30px 0px;
  display: inline-block;
}
.testa .accesso .quick-nav .fa-globe{
  padding-right: 10px;
}
.testa .accesso .quick-nav .lang{
  padding-right: 20px;
}
.testa .accesso .quick-nav #contact {
  border-left: solid 1px #cbd6e2;
  padding-left: 20px;
}
.fa-search {
  color: #00a4bd;
  margin-right: 20px;
}
.testa .accesso .login .log-in {
  color: #ff7a59;
  background-color: #FFFFFF;
  padding: 15px 20px;
  border: solid 1px #ff7a59;
  border-radius: 5px;
  margin: 0px 10px;
}
.testa .accesso .login .get-hs {
  color: #FFFFFF;
  background-color: #ff7a59;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 0px 10px;
}

/* navigation bar */
.menu-bar {
  padding: 30px 0px;
  font-weight: bold;
  font-size: 16px;
}
.menu-bar .menu > li {
  display: inline-block;
  padding-right: 20px;
  line-height: 35px;
}

/* get HubSpot banner */
.testa .backgd-get-hs {
  background-image: url("../img/jumbotron.png");
  background-position: center;
  background-size: 100vw;
  height: 751px;
}
.testa .get-hs-banner .wrap{
  position: relative;
  top: 100px;
  width: 420.5px;
}
.testa .backgd-get-hs .wrap h1 {
  font-size: 3.5em;
  padding-bottom: 30px;
}
.testa .backgd-get-hs .wrap p {
  font-size: 16px;
}
.testa .backgd-get-hs .wrap .get-hs{
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #ff7a59;
  padding: 30px 30px;
  border-radius: 5px;
  margin: 20px 0px;
}
.testa .backgd-get-hs .wrap .offerta {
  width: 250px;
}
/* fine get HubSpot banner */
/* FINE HEADER */

/* CORPO */
/* elementi comuni */
.corpo .backgd-services {
  background-color: #f5f8fa;
  padding-top: 40px;
}
.corpo .service {
  display: inline-block;
  width: 30%;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 50px;
}
.corpo .service > *{
  display: block;
  margin-bottom: 25px;
}
.service .centro > * {
  padding: 15px;
}
.service ul{
  list-style-type: none;
}
.fa-check-circle {
  padding-right: 8px;
  color: #ff7a59;
}
h2{
  font-size: 2em;
}
.services .service-icon {
  width: 100px;
  height: 100px;
}
.services .grassetto {
  font-weight: bold;
}
.get-star {
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  background-color: #ff7a59;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 0px 10px;
}
.service ul li:nth-child(1n+2){
  padding-top: 10px;
}

/* elementi particolari */
/* integration */
.services .integration {
  text-align: center;
  margin-bottom: 40px;
}
.corpo .services #integration-img{
  width: 25%;
}
/* crm */

.services .crm {
  width: 100%;
  padding: 40px 150px;
}
.services .crm > * {
  display: inline-block;
  padding-bottom: 0px;
}
.services .crm .graphic {
  text-align: center;
}
.services .crm .graphic img {
  padding-bottom: 20px;
}
.services .crm .description {
  width: 80%;
  padding-left: 50px;
}
.services .crm .description > *{
  display: inline-block;
  margin-bottom: 20px;
}
.services .crm hr {
  border: 1px solid grey;
  width: 60%;
  margin: 10px 0px 0px 0px;
}
.services .crm .description ul li {
  display: inline-block;
  padding-right: 30px;
}

/* marketing */
.services .mrkt{
  margin-right: 8px;
}

/* sales*/
.services .sales{
  margin: 0px 43px;
}

/* service hub */
.services .service-hub {
  margin-left: 8px;
}
/* award */
.award *{
  color: #FFFFFF;
}
.award .presentazione {
  padding: 40px;
}
.award .presentazione > p {
  padding-top: 20px;
}
.backgd-award {
  background-color: #00b8a9;
}
.award .col {
  width: 25%;
}
.award .col .box > * {
  padding-bottom: 20px;
}
.award .col .box {
  padding-top: 20px;
}
.award .col:nth-of-type(1n+3) {
  border-left: 1px solid;
}
.award .col .box:first-child {
  border-bottom: 1px solid;
}
